.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.main {
  display: flex;
}

.background-video {
  width: 100%;
}

.front-video {
  width: 30%;
}
.front-video video {
  border-radius: 50px;
}
.video_bg {
  background-color: #fff;
  height: 350px;
  border-radius: 50px;
  padding: 4%;
}
.menu_content {
  width: 50%;
}
.menu_content h1 {
  font-size: 2rem;
  line-height: 4rem;
}
.menu_content h2 {
  line-height: 2rem;
}
.menu__content__sub {
  border: solid;
  background-color: #fff;
  opacity: 0.6;
  width: 90%;
  color: #000;
  padding: 2%;
}
@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    top: 10%;
  }
  .front-video {
    width: 60%;
  }

  .menu_content {
    width: 60%;
    margin-bottom: 3%;
  }

  .menu__content__sub {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .content {
    text-align: center;
    top: 5%;
  }
  .video_bg {
    height: 200px;
  }
  .front-video {
    width: 90%;
  }

  .menu_content {
    width: 90%;
  }
}
