    .cloud-container {
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    
    .cloud-background {
        background-image: url("../../../../assets/Bg_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: 100vh;
    }
    .cloud_content{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    
    .cart-content {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        width: 90%;
        height: 250px;
        padding: 3%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .cart-content img {
        margin: 0 auto;
    }
    
    .cart-content h2 {
        font-size: 10px;
    }
    
    .cart-content p {
    }
    
    .cart-button {
        margin-top: 20px;
        text-align: center;
    }
    .cloud-content {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.5s ease-in, opacity 0.5s ease-in;
      }
      
      .cloud-content-hidden {
        transform: translateX(-100%);
        opacity: 0;
      }
      
    @media (max-width: 768px) {
        .cart-content {
          width: 90%;
        }
        .cloud_content{
            width: 100%;
            align-items: center;
        }
      }
      
      @media (max-width: 576px) {
        .cart-content {
          width: 100%;
        }
        .cloud_content{
            width: 100%;
            align-items: center;
        }
      }